= simple_form_for @service, html: { class: "form form-horizontal grade" } do |f|
  = f.error_notification

  .form-inputs
    = f.input :name
    = f.input :kind, as: :select, collection: Service.kind.options

  .btn-group 
    = f.button :submit, class: "btn btn-primary"
    = link_to t('.cancel'), services_path, :class => 'btn btn-secondary'
