- model_class = Service
.page-header
  h1= t '.title', :default => model_class.model_name.human.pluralize.titleize

table.table.table-striped
  thead
    tr
      th= model_class.human_attribute_name(:id)
      th= model_class.human_attribute_name(:name)
      th= model_class.human_attribute_name(:kind)
      th= t('.actions')
  tbody
    - @services.each do |service|
      tr
        td= link_to service.id, service_path(service)
        td= service.name
        td= service.kind.text
        td
          - if can? :read, Service
            = link_to t('.show'), service_path(service), :class => 'badge badge-light mr-1'
          - if can? :manage, Service
            = link_to t('.edit'), edit_service_path(service), :class => 'badge badge-light mr-1'
            = link_to t('.destroy'), service_path(service), :method => :delete, :data => { :confirm => t('.confirm') }, :class => 'badge badge-danger mr-1'
- if can? :manage, Service
  = link_to t('.new'), new_service_path, :class => 'btn btn-primary'


