- model_class = Service
.page-header
  h1=t '.title', :default => model_class.model_name.human.titleize

.row
  .col
    strong= model_class.human_attribute_name(:name) + ': '
    = @service.name
  .col
    strong= model_class.human_attribute_name(:kind) + ': '
    = @service.kind
.row.mt-4
  .col
    .btn-group
      - if can? :read, Service
        = link_to t('.back'), services_path, :class => 'btn btn-secondary'
      - if can? :manage, Service
        = link_to t('.edit'), edit_service_path(@service), :class => 'btn btn-secondary'
        = link_to t('.destroy'), service_path(@service), :method => "delete", :data => { :confirm => t('.confirm') }, :class => 'btn btn-danger'


