= simple_form_for @user, url: sign_in_path do |f|
  = f.error_notification
  = f.input :email
  = f.input :password

  = f.button :submit, 'Sign in', class: 'btn btn-primary'
= link_to "Sign up", sign_up_path