h4= t(".your_data")
hr
= form.simple_fields_for :client do |c|
  .row
    .col= c.input :name
    .col= c.input :surname
  .row 
    .col= c.input :document
    .col= c.input :cellphone
  .row  
    .col= f.input :address  
