= simple_form_for @user, url: profile_path do |f|
  = f.error_notification
  
  = render partial: "client_fields", :locals => { :form => f }

  = f.button :submit, 'Sign up', class: 'btn btn-primary'
