= simple_form_for @user, url: sign_up_path do |f|
  = f.error_notification
  h4= t(".account_data")
  hr
  .row 
    .col= f.input :email
    .col= f.input :password
    .col= f.input :password_confirmation

  = render partial: "client_fields", :locals => { :form => f }

  = f.button :submit, 'Sign up', class: 'btn btn-primary'
