= simple_form_for @schedule, html: { class: "form form-horizontal grade" } do |f|
  = f.error_notification

  .row
    .col  
      = f.association :service
  .row
    .col
      = f.input :start_time
    .col
      = f.input :session_duration, as: :select, collection: [["30 minutes","PT30M"], ["1 hour","PT1H"] ], include_blank: true,  selected: @schedule.session_duration.try(:iso8601)
  .btn-group.mt-4
    = f.button :submit, class: "btn btn-primary"
    = link_to t('.cancel'), schedules_path, :class => 'btn btn-secondary'
