- model_class = Schedule
.page-header
  h1= t '.title', :default => model_class.model_name.human.pluralize.titleize

table.table.table-striped
  thead
    tr
      th= model_class.human_attribute_name(:id)
      th= model_class.human_attribute_name(:client_id)
      th= model_class.human_attribute_name(:service_id)
      th= model_class.human_attribute_name(:start_time)
      th= model_class.human_attribute_name(:duration)
      th= t('.actions')
  tbody
    - @schedules.each do |schedule|
      tr
        td= link_to schedule.id, schedule_path(schedule)
        td= schedule.client.name
        td= schedule.service.name
        td= l schedule.start_time, format: :long
        td= t schedule.session_duration
        td
          - if can? :read, Schedule
            = link_to t('.show'), schedule_path(schedule), :class => 'badge badge-light mr-1'
          - if can? :update, schedule
            = link_to t('.edit'), edit_schedule_path(schedule), :class => 'badge badge-light mr-1'
          - if can? :destroy, schedule
            = link_to t('.cancel'), schedule_path(schedule), :method => :delete, :data => { :confirm => t('.confirm') }, :class => 'badge badge-danger mr-1'
- if can? :create, Schedule
  = link_to t('.new'), new_schedule_path, :class => 'btn btn-primary'


