- model_class = Schedule
.page-header
  h1=t '.title', :default => model_class.model_name.human.titleize

h2= @schedule.service.name
.row
  .col
    strong= model_class.human_attribute_name(:start_time) + ': '
    = l @schedule.start_time, format: :long
  .col
    strong= model_class.human_attribute_name(:duration) + ': '
    = @schedule.session_duration.pretty_inspect
    
.row.mt-4
  .col
    .btn-group.mr-3
      - if can? :read, Schedule
        = link_to t('.home'), root_path, :class => 'btn btn-secondary'
    .btn-group  
      - if can? :update, @schedule
        = link_to t('.edit'), edit_schedule_path(@schedule), :class => 'btn btn-secondary'
      - if can? :destroy, @schedule
        = link_to t('.cancel'), schedule_path(@schedule), :method => "delete", :data => { :confirm => t('.confirm') }, :class => 'btn btn-danger'


