= simple_form_for @client, html: { class: "form form-horizontal grade" } do |f|
  = f.error_notification

  .row
    .col= f.input :name
    .col= f.input :surname
  
  .row  
    .col= f.input :document
    .col= f.input :cellphone

  .row  
    .col= f.input :address

  .btn-group 
    = f.button :submit, class: "btn btn-primary"
    = link_to t('.cancel'), clients_path, :class => 'btn btn-secondary'
