- model_class = Client
.page-header
  h1= t '.title', :default => model_class.model_name.human.pluralize.titleize

table.table.table-striped
  thead
    tr
      th= model_class.human_attribute_name(:id)
      th= model_class.human_attribute_name(:name)
      th= model_class.human_attribute_name(:surname)
      th= t('.actions')
  tbody
    - @clients.each do |client|
      tr
        td= link_to client.id, client_path(client)
        td= client.name
        td= client.surname
        td
          - if can? :read, Client
            = link_to t('.show'), client_path(client), :class => 'badge badge-light mr-1'
          - if can? :manage, Client
            = link_to t('.edit'), edit_client_path(client), :class => 'badge badge-light mr-1'
            = link_to t('.destroy'), client_path(client), :method => :delete, :data => { :confirm => t('.confirm') }, :class => 'badge badge-danger mr-1'
- if can? :manage, Client
  = link_to t('.new'), new_client_path, :class => 'btn btn-primary'


