- model_class = Client
.page-header
  h1=t '.title', :default => model_class.model_name.human.titleize

.row
  .col
    strong= model_class.human_attribute_name(:name) + ': '
    = @client.name
  .col
    strong= model_class.human_attribute_name(:surname) + ': '
    = @client.surname
.row
  .col
    strong= model_class.human_attribute_name(:document) + ': '
    = @client.document
  .col
    strong= model_class.human_attribute_name(:cellphone) + ': '
    = @client.cellphone
.row.mt-4
  .col
    .btn-group
      - if can? :read, Client
        = link_to t('.back'), clients_path, :class => 'btn btn-secondary'
      - if can? :manage, Client
        = link_to t('.edit'), edit_client_path(@client), :class => 'btn btn-secondary'
        = link_to t('.destroy'), client_path(@client), :method => "delete", :data => { :confirm => t('.confirm') }, :class => 'btn btn-danger'


