
= month_calendar events: @schedules do |date, schedules| 
  = l date, format: :short
  - schedules.each do |schedule|
    div= link_to schedule 
      = "#{schedule.service.name} - #{schedule.client.name}"

- if can? :create, Schedule
  = link_to t('.new.schedule'), new_schedule_path, :class => 'btn btn-primary'